a{
  text-decoration: none;
}

body {
  background-color: #222629;
}

header{
  font-size: 100px;
  font-family: 'Shrikhand';
  color: #ffcc66;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

header:hover {
  color: #ffaa00;
}

#slogan{
  color: #ffaa00;
  font-family: 'Archivo Black', sans-serif;
  font-size: 25pt;
  margin-top:-70px;
  margin-bottom: 60px;
  margin-left: 400px;
}

.circle {
  height: 25px;
  width: 25px;
  margin-top: 465px;
  margin-left: 620px;
  border-radius: 0%;
  background-color: #ffaa00;
}


.theme-title{
  font-family: 'Shrikhand';
  color: #ffaa00;
  font-size: 55px;
  margin-top: 110px;
  margin-left: 350px;
  margin-right: 200px;
}

.theme{
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  color: #ffaa00;
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 200px;
  padding-bottom: 40px;
  text-align: center;
}

.containter1{
  position: absolute;
  padding-left: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #ffaa00;
  height: 332px;
  width: 560px;
  z-index: 2;
}

.containter2{
    position: relative;
    float: right;
    padding-left: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: #ffaa00;
    height: 332px;
    width: 560px;
    position: relative;
    z-index: 100;
}

#video{
  margin-top: 0px;
}

#video1{
  margin-top: -284px;
  margin-left: -30px;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

#video2{
  margin-top: -284px;
  margin-left: -30px;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

#button1 {
    font-family: 'Shrikhand';
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    z-index: 3;
    position: relative;
}

#button1:hover {
    background-color: #61892F;
}

#button2 {
    font-family: 'Shrikhand';
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    position: relative;
    z-index: 4;
}


#button2:hover {
    background-color: #ffaa00;
}
