body{
  background-color: #e6f7ff
}

#image1{
  color:navy;
  position: absolute;
}

#image2{
  color:navy;
  padding-left: 575px;
  padding-right: 60px;
  position: relative;
}

#video{
  float:none;
  padding-left: 290px;
}

#title{
  margin-left: 40px;
  color:crimson;
  font-size: 30pt;
  padding-bottom: 0px;
  font-family: 'Shrikhand';
}

#body{
  font-size: 18pt;
  color: grey;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  margin-left: 70px;
  margin-right: 400px;
  margin-top: 200px;
}

#articles{
  font-size: 20pt;
  color: Navy;
  display: inline-inline-block;
  float: left;
  font-family: 'Quicksand', sans-serif;
  margin-left: 70px;
  margin-right: 90px;
  font-weight: bold;
}

#pullquote{
  font-size: 25pt;
  color: Navy;
  font-style: italic;
  padding:10px;
  margin-left: 20px;
  font-family: 'Quicksand', sans-serif;
}

#thepower{
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 30px;
  font-size: 60px;
  color: crimson;
  font-family: 'Quicksand', sans-serif;
}

#date{
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  margin-top: -60px;
  color: Navy;
  margin-left: 40px;
}
