#font{
  font-family:'Josefin Sans', sans-serif;
  padding-bottom: 50px;

}

#image1{
  width: auto;
  height: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 20px;
  color:firebrick;
  font-size: 18px;

}

#title{
  color:firebrick;
  font-weight: bolder;
  font-size: 100pt;
  line-height: 10px;
  padding-left: 30px;
  background-color: aliceblue;
}

#who{
  color: lightskyblue;
  font-size: 30pt;
  padding-left: 70px;
  padding-bottom: 70px;
  line-height: 10px;
  }


#linebreak{
    font-size: 90pt;
    color: slategrey;
    padding-left: 475px;
    padding-right: 475px;
}

#body2{
  font-size: 14pt;
  color: slategrey;
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
  line-height: 20px;
}

#pullquote{
  font-size: 25pt;
  color: firebrick;
  font-style: italic;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  line-height: 30px;
}
