header{
  font-size: 80px;
  font-family: 'Shrikhand';
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}

.containter1{
  position: absolute;
  padding-left: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: gold;
  height: 500px;
  width: 500px;
}

#button {
    font-family: 'Shrikhand';
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

#button:hover {
    background-color: black;
    color: white;
}

.containter2{
  position: relative;
    float: right;
    padding-left: 30px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: gold;
    height: 500px;
    width: 500px;
}
