#image1{
  color:navy;
  padding-bottom: 60px;
  padding-left: 75px;
  float: left;
}

#video{
  float:none;
  padding-left: 290px;
}

#title{
  color:lightskyblue;
  line-height: 85px;
  font-size: 40pt;
  padding-left: 120px;
  font-family: 'Oxygen', sans-serif;
}

#body{
  font-size: 18pt;
  color: black;
  display: inline-block;
  margin-left: 120px;
  margin-right: 400px;
  font-family: 'Oxygen', sans-serif;

}

#articles{
  font-size: 20pt;
  color: black;
  display: inline-inline-block;
  float: left;
  margin-left: 70px;
  margin-right: 90px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

#pullquote{
  font-size: 20pt;
  line-height: 37px;
  color: lightskyblue;
  font-style: italic;
  padding:10px;
  margin-left: 10px;
  font-family: 'Oxygen', sans-serif;
}

#date{
  font-size: 30px;
}
