.title-page-college{
    padding-top: 250px;
    color: #ffaa00;
    font-size: 20px;
  }
.back{
  font-size: 20px;
  margin-left: 5px;
  font-family: 'Quicksand', sans-serif;
}


body {
  background-color: #222629;
}

.title-college{
  margin-top: -40px;
  font-size: 90px;
  font-family: 'Archivo Black', sans-serif;
  margin-left: 250px;
}

.title-slogan-college{
  font-size:40px;
  font-family: 'Archivo Black', sans-serif;
  color: white;
  margin-left: 450px;
  margin-top: -33px;
}

.link-college{
  color:white;
  font-size: 30px;
  margin-left: 250px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 20px;
}

a{
  text-decoration:none;
}

.link-college:hover{
  font-size: 31px;
}
