* { box-sizing: border-box;}

body{
  margin: 0;
}

.border {
  height: 900px;
  width: 900px;
  background-color: #E3A958;
  flex-basis: 33.333%;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}

 .border-inner {
   margin-left: 0 auto;
   position: relative;
   height: 800px;
   width: 800px;
   background-color: #DA9F45;
   padding-left: 25px;
   flex-basis: 33.333%;
   flex-grow: 0;
   flex-shrink: 0;
   }

.longbox {
  position: relative;
  margin-top: -200px;
   width: 400px;
   height: 800px;
   background-color: #CD8A24;
   margin-left: 175px;
   margin-right: 200px;
   flex-wrap: nowrap;
 }

.boxleft {
  position: relative;
  display: flex;
  height: 50px;
  width: 150px;
  background-color: #AE7719;
  float:left;
}

.boxright {
  display: flex;
  padding-left: 20px;
  height: 50px;
  width: 150px;
  background-color: #AE7719;
  float:right;
}

.circle1{
  margin-top: 350px;
  margin-left: 2px;
  position: absolute;
  width: 150px;
	height: 150px;
	background-color: #F4C16B;
	border-radius: 50%;
}

.circle2 {
  margin-top: 350px;
  margin-left: 600px;
  position: absolute;
  width: 150px;
	height: 150px;
	background-color: #F4C16B;
	border-radius: 50%;
}

.triangle {
  padding-top: 100px;
  margin-left: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 259.8px 150px;
  border-color: transparent transparent #D4792C transparent;
}
