.background{
    padding-top: 250px;
    color: Firebrick;
    font-size: 20px;
  }
.back{
  font-size: 20px;
  margin-left: 5px;
  font-family: 'Hind', sans-serif;
}


body {
  background-color:aliceblue;
}

.title{
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
  margin-left: 250px;
}

.link{
  font-size: 10px;
  margin-left: 250px;
  font-family: 'Hind', sans-serif;
}

a{
  text-decoration:none;
}

.link:hover{
  font-size: 11px;
}
