  .background{
    padding-top: 275px;
  }

body{
  background-color:aliceblue;
}

.back{
  font-family: 'Hind', sans-serif;
  font-size: 20px;
  margin-left: 5px;
}

.title{
  font-size: 50px;
  font-family: 'Shrikhand', cursive;
  color: midnightblue;
  margin-left: 200px;
}

.link{
  font-size: 20px;
  font-family: 'Hind', sans-serif;
  margin-left:200px;
}

a{
  text-decoration: none;
}

.link:hover{
  font-size: 21px;
}
