a{
  text-decoration: none;
  color: white;
}
body {
  background-color: #222629;
}
header{
  font-size: 120px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 90px;
  margin-right: 1%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
header:hover {
  color: #ffaa00;
}
#slogan{
  color: #ffaa00;
  font-family: 'Archivo Black', sans-serif;
  font-size: 30pt;
  margin-bottom: 60px;
  margin-left: 30%;
  margin-top: -5%;
}
.circle {
  padding-top: -10%;
  margin-top: 5%;
  margin-left: 45%;
  font-size: 100px;
  color:  white;
}
.circle:hover{
  color: #ffaa00;
}
.arrows-1 {
  font-size: 90px;
  color:white;
  margin-left: 1070px;
  margin-top: -80px;
  display: flex;
}
.arrows-1 a:hover{
  color: #ffaa00;
}
.arrows-2 {
  font-size: 90px;
  color:white;
  margin-right: -.50%;
  margin-top: -8.2%;
  padding-right: 2.5%;
  display:inline-flex;
  float: right;
}
.arrows-2 a:hover{
  color: #ffaa00;
}
#sports-branding{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin-top: 30px;
  margin-left: 550px;
  display: flex;
}

#sports-branding:hover{
  color: #ffaa00;
}
.theme-title{
  font-family: 'Archivo Black', sans-serif;
  color: #ffaa00;
  font-size: 120px;
  line-height: 100px;
  margin-top: 350px;
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 1.5%;
}
.theme{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 550px;
  padding-bottom: 40px;
  text-align: left;
}

#about-me{
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-left: 100px;
  margin-top: -2%;
  color: #ffaa00;
}

#aboutmetitle{
  font-family:'Archivo Black', sans-serif;
  font-size: 90px;
  margin-top: 10%;
  margin-left: 8%;
  color: #ffaa00;
}

#about-me a:hover{
  color: #ffaa00;
}

.aboutmewords{
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-left: 100px;
  margin-right: 30%;
  margin-top: -1%;
  color:white;
  padding-bottom: -5%;
}

.containter1 {
  position: relative;
    margin-bottom: -1%;
    height: 339px;
    width: 50%;
    margin-right: -1%;
    z-index: 2;
    float: left;
    margin-left: 5%;
    margin-top: -3%;
}
.containter2 {
    position: relative;
    float: left;
    margin-left: 3%;
    margin-bottom: -1%;
    height: 373px;
    width: 43%;
    z-index: 2;
    margin-top: -3%;
}
#video-homepage{
  margin-top: 0px;
}

#video1{
  margin-left: -5.1%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
  width: 95%;
}
#video2{
  margin-left: -5.1%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
  width:120%;
}
#button1 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 17%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    z-index: 3;
    position: relative;
}
#button1 a:hover {
    background-color: #ffaa00;
    color:#222629;
}
#button2 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 27%;
    margin-left: 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    position: relative;
    z-index: 10;
}
#button2 a:hover {
    background-color: #ffaa00;
    color:#222629;
}
.borderPost{
  background-color:#222629;
  margin-top: -120px;
  margin-left: 15px;
  margin-right: 15px;
}
img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.containerPost {
  margin-top: 100px;
  display: flex;
  margin-top: -20px;
  padding: 60px;
}
.left, .right {
  padding: 10px;
}
.left {
  flex: 1;
}
.right {
  flex: 3;
}
.smallBox {
  margin-bottom: 10px;
}
.bigBox {
  height: 300%;
  max-width: 100%;
  height: 543px;
}
.bigImage, .smallImage {
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.bigImage{
  height: 103%;
}
.smallBox:last-child{
  margin-bottom: 0;
}
#videoPost{
  float:none;
  margin-left:75px;
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#titlePost{
  margin-top: -15%;
  margin-left: 30px;
  color:#ffaa00;
  font-size: 100pt;
  font-family:'Archivo Black', sans-serif;
}
#titlePost-College-Branding{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 30px;
  line-height: 140px;
  font-family:'Archivo Black', sans-serif;
}
#titlePostMarch{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 50px;
  line-height: 140px;
  font-family:'Archivo Black', sans-serif;
}
#titlePost-160{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 85pt;
  padding-top: 10px;
  line-height: 170px;
  font-family:'Archivo Black', sans-serif;
}
#titlePost-Brandiose{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 40px;
  line-height: 170px;
  font-family:'Archivo Black', sans-serif;
}
#sloganPost{
  margin-left: 60px;
  margin-top: -270px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#sloganPostMarch{
  margin-left: 190px;
  margin-top: -150px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#sloganPost-College-Branding{
  margin-left: 200px;
  margin-top: -145px;
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#sloganPost-160{
  margin-left: 420px;
  margin-top: -185px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
#sloganPost-Brandiose{
  margin-left: 380px;
  margin-top: -160px;
  font-size: 45px;
  color: white;
  font-family:'Open Sans', sans-serif;
}
#bodyPost{
  position: relative;
  font-size: 18pt;
  color: white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-left: 70px;
  margin-right: 30%;
  margin-top: 10px;
  text-align:left;
}
.footer{
  margin-top: 10px;
  background-color: #ffaa00;
}
.articles{
  display: inline-block;
  padding-top: 10px;
  margin-left: 80px;
  margin-bottom: 15px;
  font-size: 15pt;
  color: white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}
#articlesTitle{
  margin-top: 15px;
  margin-left: -700px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #222629;
}
.links-160{
  font-size: 15pt;
}
.links-160 a:hover{
    color:#222629;
}
#articlesTitle-brandiose{
  margin-top: 15px;
  margin-left: -210px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}
#articlesTitle-Branding{
  margin-top: 10px;
  margin-left:-375px;
  font-size: 40px;
  color: #222629;
}
#articlesTitle-160{
  margin-top: 10px;
  margin-left:-660px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #222629;
}
#articlesTitleDraft{
  margin-top: 1%;
  margin-left:-10%;
  margin-bottom: -5%;
  font-size: 40px;
  color: #222629;
}
.links{
  font-size:25px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.links a:hover{
  color:#222629;
}
#articlesTitle-nfl{
  margin-top: 15px;
  margin-left: -650px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}
#articlesTitle-nhl{
  margin-top: 15px;
  margin-left: -650px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}
#articlesTitle-MLB{
  margin-top: 15px;
  margin-left: -530px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}
#articlesTitle-nba{
  margin-top: 15px;
  margin-left: -60px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}
#linksPost{
  font-size: 20px;
  margin-left: 350px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
#linkPost a:hover{
  color:#222629;
}
#articlesTitleMarch{
  margin-top: 10px;
  margin-left:-350px;
  margin-bottom: 0px;
  font-size: 40px;
  color: #222629;
}
#linksPostMarch{
  margin-top: 5%;
  font-size: 20pt;
}
#linkPostMarch a:hover{
  color: #222629;
}
#pullquotePost{
  font-size: 20pt;
  color: #ffaa00;
  font-style: italic;
  padding: 10px;
  margin-right: 100px;
  font-family: 'Archivo Black', sans-serif;
}
.location-1{
  background-color:#222629;
  margin-top: 90px;
  font-family: 'Archivo Black', sans-serif;
}

.location{
  background-color:#222629;
  margin-top: 90px;
  font-family: 'Archivo Black', sans-serif;
}
#backPost{
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: -60px;
  margin-left: 20px;
  font-size: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Archivo Black', sans-serif;
}
#backPost a:hover{
  color:#ffaa00;
}
.articles p{
  display: inline-block;
}
.titlePageCollege{
    padding-top: 250px;
    color: #ffaa00;
    font-size: 20px;
    text-align: center;
  }
.linkCollege{
  color:white;
  font-size: 30px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
  display: inline-block;
}
.linkCollege:hover{
  font-size: 31px;
  text-decoration: underline;
}
#golden-state-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 100%;
  margin-right: -30%;
  margin-top: -40.9%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#golden-state-button{
  color:#ffaa00;
}
#clippers-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 100%;
  margin-right: -30%;
  margin-top: -40%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#clippers-button{
  color:#ffaa00;
}
#lakers-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 100%;
  margin-right: -30%;
  margin-top: -42%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#lakers-button{
  color:#ffaa00;
}
#rams-info {
    display: none;
  position: absolute;
  background-color: #ffaa00;
  color: white;
  margin-left: 100%;
  margin-right: -30%;
  margin-top: -45%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#rams-button{
  color:#ffaa00;
}
#steelers-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 100%;
  margin-right: -30%;
  margin-top: -38%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#steelers-button{
  color:#ffaa00;
}
#penguins-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 105%;
  margin-right: -30%;
  margin-top: -55.5%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#penguins-button{
  color:#ffaa00;
}
#predators-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 105%;
  margin-right: -30%;
  margin-top: -40.5%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#predators-button{
  color:#ffaa00;
}
#kings-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 105%;
  margin-right: -30%;
  margin-top: -40.5%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#kings-button{
  color:#ffaa00;
}
#sox-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 105%;
  margin-right: -30%;
  margin-top: -48.5%;
  padding-left: 1%;
  padding-bottom: 1%;
  z-index: 1;
  border-radius: 6px;
}
#sox-button{
  color:#ffaa00;
}
#nationals-info {
  position: absolute;
    display: none;
  background-color: #ffaa00;
  color: white;
  margin-left: 105%;
  margin-right: -30%;
  margin-top: -50.5%;
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 2;
  border-radius: 6px;
  float:right;
}
#nationals-button{
  color:#ffaa00;
}


@media (max-width: 500px),
   (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2),
   (max-width: 1000px) and (min-resolution: 144dpi) {

   header{
     text-align: right;
     font-size: 200px;
     line-height: 190px;
     margin-right: -16%;
     margin-left: 120px;
     margin-top: 5%;
     font-family: 'Open Sans', sans-serif;
     color: white;
   }

   #slogan{
     text-align: right;
     color: #ffaa00;
     font-family: 'Archivo Black', sans-serif;
     font-size: 75pt;
     line-height: 100px;
     margin-top: -2%;
     margin-right: -16%;
     margin-left: 10%;
   }

   #video1{
     display: none;
   }

   #video2{
    display: none;
   }

   .arrows-1 {
     font-size: 200px;
     color:white;
     margin-left: 900px;
     margin-top: -15%;
     display: flex;
   }

   .arrows-2 {
     font-size: 200px;
     color:white;
     margin-right: -35%;
     margin-top: -23.5%;
     padding-right: 2.5%;
     float: right;
   }

   #sports-branding{
     color:white;
     font-family: 'Open Sans', sans-serif;
     font-size: 60px;
     margin-top: 10%;
     margin-left: 30%;
   }

   .containter1{
     background-color: #ffaa00;
     height: 200%;
     width: 123%;
     margin-top: 2%;
   }

   .containter2{
     background-color: #ffaa00;
     height: 150%;
     width: 123%;
     margin-left: -3%;
   }

   .circle {
     margin-top: 50%;
     margin-left: 47%;
     font-size: 320px;
     color:  white;
   }

   .theme-title{
     font-family: 'Archivo Black', sans-serif;
     color: #ffaa00;
     font-size: 150px;
     margin-left: 4%;
     line-height:160px;
     margin-top: 50%;
     padding-top: 10%;
     margin-right: -20%;
   }

   .theme{
     font-family: 'Open Sans', sans-serif;
     font-size: 60px;
     line-height: 100px;
     color: white;
     margin-top: -5%;
     margin-left: 5%;
     margin-right: -100px;
     padding-right: -10%;
     padding-bottom: 40px;
     text-align: left;
   }

   #button1 {
       font-family: 'Open Sans', sans-serif;
       background-color: #ffaa00;
       padding-top: 10%;
       padding-bottom: 10%;
       margin-top: 2%;
       margin-left: 25%;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 120px;
       z-index: 3;
       position: relative;
   }

   #button2 {
       font-family: 'Open Sans', sans-serif;
       background-color: #ffaa00;
       padding-top: 10%;
       padding-bottom: 10%;
       margin-top: 2%;
       margin-left: 11%;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 120px;
       z-index: 10;
   }

   #bodyPost{
     position: relative;
     font-size: 60pt;
     line-height: 110px;
     text-align: left;
     color: white;
     font-family: 'Open Sans', sans-serif;
     margin-left: 70px;
     margin-right: -300px;
     margin-top: -1%;
   }

   .articles{
     display: none;
   }

   #titlePost{
     margin-left: 30px;
     color:#ffaa00;
     font-size: 150pt;
     margin-bottom: -20%;
     font-family:'Archivo Black', sans-serif;
   }
   #titlePost-College-Branding{
     margin-left: 5%;
     margin-right:-40%;
     color:#ffaa00;
     font-size: 75pt;
     padding-top: 50px;
     line-height: 160px;
     font-family:'Archivo Black', sans-serif;
   }
   #titlePostMarch{
     margin-left: 30px;
     color:#ffaa00;
     font-size: 70pt;
     padding-top: 50px;
     line-height: 170px;
     font-family:'Archivo Black', sans-serif;
   }
   #titlePost-160{
     margin-left: 30px;
     color:#ffaa00;
     font-size: 100pt;
     padding-top: 10px;
     padding-bottom: -10%;
     line-height: 210px;
     font-family:'Archivo Black', sans-serif;
   }
   #titlePost-Brandiose{
     margin-left: 30px;
     color:#ffaa00;
     font-size: 65pt;
     padding-top: 40px;
     line-height: 170px;
     font-family:'Archivo Black', sans-serif;
   }

   #videoPost{
    display: none;
   }

   #sloganPost{
     display:none;
   }
   #sloganPostMarch{
     display:none;
   }
   #sloganPost-College-Branding{
  display:none;
   }
   #sloganPost-160{
     display:none;
   }
   #sloganPost-Brandiose{
     display:none;
   }

   .containerPost{
     padding:0%;
   }
   .left {
     display: none;
   }
   .right {
     width: 300%;
     height: 100%;
     margin-left: 5%;
     margin-right: -30%;
   }

   #pullquotePost{
     font-size: 70pt;
     color: #ffaa00;
     font-style: italic;
     padding-top: -90%;
     margin-right: 10%;
     margin-left: -1%;
     font-family: 'Archivo Black', sans-serif;
   }

   #articlesTitle-brandiose{
     margin-top: 15px;
     margin-left: -210px;
     margin-bottom: 15px;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitle-Branding{
     margin-top: 10px;
     margin-left:-10%;
     font-size: 100px;
     color: #222629;
   }
   #articlesTitle-160{
     margin-top: 10px;
     margin-left:-660px;
     margin-bottom: 5px;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitleDraft{
     margin-top: 1%;
     margin-left:-10%;
     margin-bottom: -5%;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitle-nfl{
     margin-top: 15px;
     margin-left: -650px;
     margin-bottom: 15px;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitle-nhl{
     margin-top: 15px;
     margin-left: -650px;
     margin-bottom: 15px;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitle-MLB{
     margin-top: 15px;
     margin-left: -530px;
     margin-bottom: 15px;
     font-size: 40px;
     color: #222629;
   }
   #articlesTitle-nba{
     margin-top: 15px;
     margin-left: -60px;
     margin-bottom: 15px;
     font-size: 40px;
     color: #222629;
   }
   #linksPost{
     font-size: 20px;
     margin-left: 350px;
     padding-bottom: 20px;
     font-family: 'Open Sans', sans-serif;
   }
   #articlesTitleMarch{
     margin-top: 10px;
     margin-left:-350px;
     margin-bottom: 0px;
     font-size: 40px;
     color: #222629;
   }
   #linksPostMarch{
     margin-top: 5%;
     font-size: 20pt;
   }

   .links{
     font-size:55px;
     line-height: 50px;
     margin-left: -10%;
   }

   #about-me{
     font-family: 'Open Sans', sans-serif;
     font-size: 90px;
     margin-left: 50px;
     margin-top: -10%;
     color: #ffaa00;
   }

   #aboutmetitle{
     font-family:'Archivo Black', sans-serif;
     font-size: 200px;
     margin-top: 20%;
     line-height: 150px;
     margin-left: 9%;
     color: #ffaa00;
   }

   .aboutmewords{
     font-family: 'Open Sans', sans-serif;
     font-size: 60px;
     margin-left: 100px;
     margin-right: -5%;
     margin-top: -1%;
     color:white;
     padding-bottom: 5%;
   }

   #backPost{
     margin-left: 7%;
     width: 85%;
     padding-bottom: 5%;
     margin-top: -50%;
     font-size: 65px;
     font-family: 'Archivo Black', sans-serif;
     background-color: #ffaa00;
   }

   .location-1{
     background-color: #ffaa00;
     width: 120%;
     padding-right: -5%;
     margin-right: -2%;
     margin-top: 90%;
     font-family: 'Archivo Black', sans-serif;
   }

   .location{
     background-color: #ffaa00;
     width: 137%;
     padding-right: -10%;
     margin-right: -10%;
     margin-top: 75%;
     font-family: 'Archivo Black', sans-serif;
   }

   #golden-state-info {
  display: none;
   }
   #golden-state-button{
     display: none;
   }
   #clippers-info {
     display: none;
   }
   #clippers-button{
     display: none;
   }
   #lakers-info {
    display: none;
   }
   #lakers-button{
    display: none;
   }
   #rams-info {
     display: none;
   }
   #rams-button{
     display: none;
   }
   #steelers-info {
     display: none;
   }
   #steelers-button{
    display: none;
   }
   #penguins-info {
    display: none;
   }
   #penguins-button{
     display: none;
   }
   #predators-info {
    display: none;
   }
   #predators-button{
     display: none;
   }
   #kings-info {
     display: none;
   }
   #kings-button{
     display: none;
   }
   #sox-info {
    display: none;
   }
   #sox-button{
     display: none;
   }
   #nationals-info {
       display: none;

   }
   #nationals-button{
     display: none;
   }


}
