header{
  font-size: 100px;
  font-family: 'Shrikhand';
  color: #ffcc66;
  background-color: #e6f7ff;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 90px;
  display: flex;
  justify-content: flex-end;
}

header:hover {
  color: #ffaa00;
}

a{
  text-decoration: none;
}

#slogan{
  color: #ffaa00;
  font-family: 'Shrikhand';
  font-size: 25pt;
  margin-top:-75px;
  margin-bottom: 30px;
  margin-left: 460px;
  letter-spacing: .3pt;
}

body {
  background-color: #e6f7ff;
}

.containter1{
  position: absolute;
  padding-left: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: #ffaa00;
  height: 332px;
  width: 560px;
  z-index: 2;
}

#video{
  margin-top: -284px;
  margin-left: -30px;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

#button {
    font-family: 'Shrikhand';
    background-color: #ffcc66;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    z-index: 3;
    position: relative;
}

#button:hover {
    background-color: #ffaa00;
}

#button1 {
    font-family: 'Shrikhand';
    background-color: #ffcc66;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 400px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    position: relative;
    z-index: 4;
}


#button1:hover {
    background-color: #ffaa00;
}

.containter2{
    position: relative;
    float: right;
    padding-left: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: #ffaa00;
    height: 332px;
    width: 560px;
    position: relative;
    z-index: 100;
}

#video2{
  margin-top: -284px;
  margin-left: -30px;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

.arrow {
  height: 25px;
  width: 25px;
  margin-top: 420px;
  margin-left: 600px;
  border-radius: 50%;
  background-color: #ffaa00;
}


.theme{
  font-family: 'Shrikhand';
  font-size: 30px;
  color: #ffaa00;
  margin-top: 50px;
  margin-left: 520px;
  margin-right: 100px;
}
