a{
  text-decoration: none;
  color: white;
}

body {
  background-color: #222629;
}

header{
  font-size: 120px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 20px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

header:hover {
  color: #ffaa00;
}

#slogan{
  color: #ffaa00;
  font-family: 'Archivo Black', sans-serif;
  font-size: 30pt;
  margin-top:-65px;
  margin-bottom: 60px;
  margin-left: 30%;
}

.circle {
  margin-top: 33%;
  margin-left: 47%;
  font-size: 75px;
  color:  white;
}

.circle:hover{
  color: #ffaa00;
}

.arrows-1 {
  font-size: 70px;
  color:white;
  margin-left: 1070px;
  margin-top: -55px;
  display: flex;
}

.arrows-1 a:hover{
  color: #ffaa00;
}

.arrows-2 {
  font-size: 70px;
  color:white;
  margin-right: 5%;
  margin-top: -82px;
  display: flex;
  float: right;
}

.arrows-2 a:hover{
  color: #ffaa00;
}

#sports-branding{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 750px;
  display: flex;
}

#sports-branding:hover{
  color: #ffaa00;
}

.theme-title{
  font-family: 'Archivo Black', sans-serif;
  color: #ffaa00;
  font-size: 120px;
  line-height: 100px;
  margin-top: 350px;
  margin-left: 100px;
  margin-right: 200px;
}

.theme{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 550px;
  padding-bottom: 40px;
  text-align: left;
}

.containter1{
  position: absolute;
  padding-left: 2.4%;
  margin-left: 2%;
  margin-bottom: 1%;
  background-color: #ffaa00;
  height: 47.1%;
  width: 560px;
  z-index: 2;
}

.containter2{
    position: relative;
    float: right;
    padding-left: 2.3%;
    margin-right: 2%;
    margin-bottom: 1%;
    background-color: #ffaa00;
    height: 332px;
    width: 560px;
    z-index: 100;
}

#video-homepage{
  margin-top: 0px;
}

#video1{
  margin-left: -5.1%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

#video2{
  margin-left: -5.1%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.5;
}

#button1 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    z-index: 3;
    position: relative;
}

#button1 a:hover {
    background-color: #ffaa00;
    color:#222629;
}

#button2 {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffaa00;
    padding: 15px 32px;
    margin-top: 150px;
    margin-left: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    position: relative;
    z-index: 4;
}


#button2 a:hover {
    background-color: #ffcc66;
    color:#222629;
}

.borderPost{
  background-color:#222629;
  margin-top: -120px;
  margin-left: 15px;
  margin-right: 15px;
}

img {
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.containerPost {
  margin-top: 100px;
  display: flex;
  margin-top: -20px;
  padding: 60px;

}

.left, .right {
  padding: 10px;
}

.left {
  flex: 1;
}

.right {
  flex: 3;
}

.smallBox {
  margin-bottom: 10px;
}

.bigBox {
  height: 400%;
  max-width: 100%;
  height: 543px;
}

.bigImage, .smallImage {
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bigImage{
  height: 560px;
}

.smallBox:last-child{
  margin-bottom: 0;
}

#videoPost{
  float:none;
  margin-left:75px;
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#titlePost{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 100pt;
  font-family:'Archivo Black', sans-serif;
}

#titlePost-College-Branding{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 30px;
  line-height: 140px;
  font-family:'Archivo Black', sans-serif;
}

#titlePostMarch{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 50px;
  line-height: 140px;
  font-family:'Archivo Black', sans-serif;
}

#titlePost-160{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 85pt;
  padding-top: 10px;
  line-height: 170px;
  font-family:'Archivo Black', sans-serif;
}

#titlePost-Brandiose{
  margin-left: 30px;
  color:#ffaa00;
  font-size: 60pt;
  padding-top: 40px;
  line-height: 170px;
  font-family:'Archivo Black', sans-serif;
}

#sloganPost{
  margin-left: 60px;
  margin-top: -270px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#sloganPostMarch{
  margin-left: 190px;
  margin-top: -150px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#sloganPost-College-Branding{
  margin-left: 200px;
  margin-top: -145px;
  font-size: 50px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#sloganPost-160{
  margin-left: 420px;
  margin-top: -185px;
  font-size: 60px;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#sloganPost-Brandiose{
  margin-left: 380px;
  margin-top: -160px;
  font-size: 45px;
  color: white;
  font-family:'Open Sans', sans-serif;
}

#bodyPost{
  font-size: 18pt;
  color: white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  margin-left: 70px;
  margin-right: 400px;
  margin-top: 10px;
  text-align:left;
}

.footer{
  margin-top: 10px;
  background-color: #ffaa00;
}

.articles{
  display: inline-block;
  padding-top: 10px;
  margin-left: 80px;
  margin-bottom: 15px;
  font-size: 15pt;
  color: white;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

#articlesTitle{
  margin-top: 15px;
  margin-left: -700px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #222629;
}

.links-160{
  font-size: 15pt;

}

.links-160 a:hover{
    color:#222629;
}

#articlesTitle-brandiose{
  margin-top: 15px;
  margin-left: -210px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}

#articlesTitle-Branding{
  margin-top: 10px;
  margin-left:-375px;
  font-size: 40px;
  color: #222629;
}

#articlesTitle-160{
  margin-top: 10px;
  margin-left:-660px;
  margin-bottom: 5px;
  font-size: 40px;
  color: #222629;
}

.links{
  font-size:25px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.links a:hover{
  color:#222629;
}

#articlesTitle-nfl{
  margin-top: 15px;
  margin-left: -650px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}

#articlesTitle-nhl{
  margin-top: 15px;
  margin-left: -650px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}

#articlesTitle-MLB{
  margin-top: 15px;
  margin-left: -530px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}

#articlesTitle-nba{
  margin-top: 15px;
  margin-left: -60px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #222629;
}

#linksPost{
  font-size: 20px;
  margin-left: 350px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

#linkPost a:hover{
  color:#222629;
}
#articlesTitleMarch{
  margin-top: 10px;
  margin-left:-350px;
  margin-bottom: 0px;
  font-size: 40px;
  color: #222629;
}

#linksPostMarch{
  font-size: 20pt;
}

#linkPostMarch a:hover{
  color: #222629;
}

#pullquotePost{
  font-size: 20pt;
  color: #ffaa00;
  font-style: italic;
  padding: 10px;
  margin-right: 100px;
  font-family: 'Archivo Black', sans-serif;
}
.location{
  background-color:#222629;
  margin-top: 90px;
  font-family: 'Archivo Black', sans-serif;
}

#backPost{
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: -60px;
  margin-left: 20px;
  font-size: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Archivo Black', sans-serif;
}

#backPost a:hover{
  color:#ffaa00;
}

.articles p{
  display: inline-block;
}

.titlePageCollege{
    padding-top: 250px;
    color: #ffaa00;
    font-size: 20px;
    text-align: center;
  }


.linkCollege{
  color:white;
  font-size: 30px;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 50px;
  display: inline-block;
}

.linkCollege:hover{
  font-size: 31px;
  text-decoration: underline;
}
